@import 'src/vars.scss';

.bio {
    padding-top: 50px;

    .bioGrid {
        column-gap: 10px;
        row-gap: 10px;
    }

    h1 {
        grid-area: h;

        padding-left: 10px;
        font-size: 3em;
        color: $primary;
        background-color: $darker;
    }

    img {
        grid-area: i;
        max-width: 75vw;
    }

    @media (max-width: 576px) {
        .bioGrid {
            display: grid;
            grid-template-areas:
                'h'
                't';
        }

        h1 {
            text-align: center;
        }

        img {
            display: none;
        }
    }

    @media (min-width: 576px) and (max-width: 992px) {
        .bioGrid {
            display: grid;
            grid-template-areas:
                'h'
                'i'
                't';
        }

        h1 {
            text-align: center;
        }

        img {
            display: block;
            margin: 10px auto;
        }

        .mainText {
            row-gap: 10px;
            text-align: center;
        }
    }

    @media (min-width: 992px) {
        .bioGrid {
            display: grid;
            grid-template-areas:
                'i h h '
                'i t t';
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 75px auto;
        }
    }

    .mainText {
        grid-area: t;

        background-color: $darker;
        padding: 0 10px;

        display: grid;
        align-items: center;

        .linkDiv {
            font-size: 1.5em;
            a {
                text-decoration: none;
                svg {
                    width: 1em;
                }
                &:hover {
                    border-bottom: 2px solid $primary;
                }
            }
        }
    }
}
