
body {
    font-family:  Arial, Helvetica, sans-serif;
}

.level2,
.level3 {
    page-break-inside: avoid;
}

.level3:not(:last-of-type) {
    margin-bottom: 50px;
}


h1 {
    margin: 0;
    font-size: 3em;
    color: darkslategray;
}

h2 {
    color: darkslategray;
    margin-top: 50px;
}

h2#skills-and-abilities {
    margin: 25px 0 0 0 ;
}


#headerLinks {
    display: grid;
    grid-gap: 0;
    grid-auto-flow: column;
    border-top: 1px solid darkslategray;
    border-bottom: 1px solid darkslategray;
}

#headerLinks a {
    color: slateblue;
    text-decoration: none;
    /* font-weight: bold; */
}

#headerLinks p {
    margin: 5px 0;
}


.headerPart1 {
    font-weight: normal;
    font-style: italic;
}

.level2 * {
    /* text-align: justify; */
    line-height: 1.25em;
}

p, li {
    font-size: 12pt;
}

li {
    margin-top: 10px;
}

#Experience > div:first-of-type > ul > li {
    font-weight: bold;
}

#Experience > div:first-of-type > ul > li * {
    font-weight: normal;
}

.page-break {
    /* page-break-after: always; */
}

