@import 'src/vars.scss';
@import './cardStyles.scss';

.showcase {
    padding-top: 10px;

    .header {
        display: grid;

        @media (max-width: 1100px) {
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-areas:
                'title title title'
                'btn   links links';

            .linkContainer {
                text-align: center;
            }
        }

        @media (min-width: 1100px) {
            grid-template-columns: 1fr 2fr 1fr;
            grid-template-areas: 'btn title links';
        }

        background-color: $darker;

        margin: 10px 0;
        padding: 5px;
        .btnContainer,
        .linkContainer {
            display: grid;
            align-items: center;

            grid-auto-flow: column;
        }

        .btnContainer {
            grid-area: btn;

            .backBtn {
                color: $red;
                font-size: 20px;
                text-align: center;
                width: 50%;
                border-radius: 5px;
                padding-bottom: 2px;

                transition: 0.25s background-color, 0.25s color;

                &:hover {
                    background-color: $red;
                    color: $white;
                }
            }
        }

        .linkContainer {
            grid-area: links;
            font-size: 1.25em;
            text-align: center;
        }

        h1 {
            grid-area: title;
            color: $primary;
            text-align: center;
        }
    }

    .showcaseItem {
        overflow: hidden;

        margin-bottom: 20px;

        &.shown {
            display: grid;
        }

        &.hidden {
            display: none;
        }

        iframe {
            width: 100%;
            height: 600px;

            margin: 0 auto;
            border: none;
        }

        .carousel {
            margin-bottom: 5px;

            .carousel-indicators li,
            .carousel-control-prev:hover,
            .carousel-control-next:hover {
                background-color: rgba(0, 0, 0, 0.5);
            }
            .carousel-item {
                max-height: 600px;

                .backgroundImg {
                    position: absolute;
                    width: 100%;
                    filter: grayscale(75%);
                }

                .frontImgContainer {
                    width: 100%;
                    height: 100%;
                    img,
                    video {
                        display: block;
                        margin: 0 auto;
                        transform: scale(0.95);
                        box-shadow: 0 0 10px black;
                    }
                    backdrop-filter: blur(15px);
                }
            }
        }

        @media (max-width: 576px) {
            .carousel {
                .carousel-item {
                    height: auto !important;
                }
            }
        }

        @media (min-width: 576px) and (max-width: 992px) {
            .carousel {
                .carousel-item {
                    height: 75vh;
                }
            }
        }

        @media (min-width: 992px) {
            .carousel {
                .carousel-item {
                    height: 500px;
                }
            }
        }

        .markdown {
            h1 {
                color: $primary;
                padding-bottom: 5px;
                border-bottom: 2px solid $primary;
            }

            h2 {
                font-size: 1em;
            }

            ul {
                padding-left: 20px;
            }
        }
    }
}
